html {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}

body {
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  text-align: center;
}

.header__title {
  font-size: 2.4rem;
  font-weight: 300;
  color: hsl(0, 0%, 59%);
  margin-top: 2.2rem;
  margin-bottom: 0.9rem;
}

.header__title span {
  font-weight: 700;
  color: #000;
}

.header__text {
  margin: 0;
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 0.9rem;
  max-width: 30rem;
  margin: 2rem auto 3.8rem;
}

.form__input {
  border-radius: 30px;
  border: 1px hsl(0, 0%, 59%) solid;
  padding: 1rem 1.4rem;
  flex: 2 0 0;
}

.form__input::placeholder {
  color: hsl(0, 0%, 59%);
  font-size: 0.8em;
}

.form__input:focus {
  outline-color: hsl(228, 45%, 44%);
}

.form__button {
  border-radius: 30px;
  padding: 1rem 3.2rem;
  font-weight: 700;
  font-size: 0.8rem;
  color: #fff;
  background-color: hsl(223, 87%, 63%);
  border: none;
  -webkit-box-shadow: 0px 0px 24px 5px hsl(223, 100%, 88%);
  box-shadow: 0px 0px 24px 5px hsl(223, 100%, 88%);
  transition: 0.3s;
}
.form__button:hover {
  opacity: 0.9;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__image {
  max-width: 650px;
  width: 90%;
}

.main__footer {
  margin-top: 3rem;
}
.footer__icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

ion-icon {
  color: hsl(223, 87%, 63%);
  font-size: 0.8rem;
  border: 0.5px hsla(0, 0%, 59%, 0.434) solid;
  border-radius: 50%;
  padding: 0.3rem;
  transition: 0.3s;
}
ion-icon:hover {
  background-color: hsl(223, 87%, 63%);
  color: #fff;
}
.footer__text {
  padding-top: 1.5rem;
  font-size: 0.6rem;
  color: hsl(0, 0%, 59%);
}

footer {
  padding: 1rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.message {
  position: absolute;
  top: 2.9rem;
  left: 1.4rem;
  font-style: italic;
}

.error {
  border-color: hsl(354, 100%, 66%);
}

.error-text {
  color: hsl(354, 100%, 66%);
  font-size: 0.6rem;
}

.succes {
  border-color: green;
}
.succes-text {
  color: rgb(0, 139, 0);
}

.hidden {
  display: none;
}

@media screen and (max-width: 426px) {
  .header__logo {
    height: 1rem;
  }
  .header__logo img {
    height: 100%;
  }
  .header__title {
    font-size: 1.2rem;
  }

  .header__text {
    font-size: 0.6rem;
  }
  .form {
    flex-direction: column;
    margin: 1rem 1.7rem;
    gap: 0;
  }
  .form__input {
    padding: 0.5rem 1.4rem;
  }

  .form__button {
    margin-top: 1.8rem;
    width: 100%;
    padding: 0.7rem 3.2rem;
    font-size: 0.5rem;
  }
  .message {
    position: absolute;
    top: 1.7rem;
    left: 2rem;
    font-size: 0.5rem;
  }
}
